<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
		
<!-- java Resource/src/main/resources/mappers/member/member-mapper.xml		 -->
<!--  다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="board">
	
	<!-- 레코드 갯수 계산 -->
	<select id="countArticle" resultType="">
		select count(*) from tbl_board
		<include refid="search" />
	</select>
	
	<select id="listAll" resultType="com.example.spring02.board.model.dto.BoardVO">
		select bno, title, content, writer, regdate, viewcnt
		from tbl_board
		<!-- 이 부분에 where절이 삽입됨 -->
		<include refid="search" />
		order by bno desc, regdate desc
	</select>
	
<!-- 	<insert id="insert" parameterType="com.example.spring02.board.model.dto.BoardVO"> -->
	<insert id="insert" >
		insert into 
			tbl_board (bno, title, content, writer)
    	values (
              (select nvl(max(bno)+1, 1) from tbl_board)
            , #{title }
            , #{content }
            , #{writer }
		)
	</insert>
	
	<select id="view"  resultType="com.example.spring02.board.model.dto.BoardVO">
		select * from tbl_board
		where bno = #{bno }
	</select>
	
	<update id="increaseViewCount" >
		update tbl_board 
		set 
			viewcnt = viewcnt + 1 
		where bno = #{bno }
	</update>
	
	<update id="updateArticle">
		update tbl_board
		set
			  writer = #{writer }
			, title = #{title }
			, content = #{content }
		where bno = #{bno }
	</update>
	
	<delete id="deleteArticle">
		delete from 
			tbl_board 
		where 
			bno = #{bno } 
	</delete>
	
	<!-- sql code 조각 -->
	<sql id="search">
		<choose>
			<when test="#{search_option != 'all'">
				<!-- 전체검색이 아닐 때 -->
				where writer like '%' || #{keyword } || '%'
				 	  or content like '%' ||  #{keyword } || '%'
				 	  or title like '%' || #{keyword } || '%'
			</when>
			<otherwise>
				<!-- 전체검색 -->
				where ${search_option } like '%' || #{keyword } || '%'
			</otherwise>
		</choose>
	</sql>


</mapper>